#hamburger-icon {
  width: 25px;
  height: 20px;
  display: block;
  position: relative;
  transition: .5s ease-in-out;
  cursor: pointer;
  opacity: 1;

  &.invisible {
    opacity: 0;
    pointer-events: none;
  }

  span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: $darkBlue;
    opacity: 1;
    left: 0;
    transform-origin: center;
    transform: rotate(0deg);
    transition: .25s ease-in-out;

    &:nth-child(1) {
      top: 0;
      left: 50%;
      transform: rotate(0deg) translate(-50%, 0%);
    }

    &:nth-child(2) {
      top: 50%;
      left: 50%;
      transform: rotate(0deg) translate(-50%, -50%);
    }

    &:nth-child(3) {
      top: 100%;
      left: 50%;
      transform: rotate(0deg) translate(-50%, -100%);
    }
  }

  &.active {
    span {
      &:nth-child(1) {
        width: 100%;
        top: 43%;
        left: 0;
        transform: rotate(45deg) translate(0%, 0%);
      }

      &:nth-child(2){
        width: 0;
      }

      &:nth-child(3) {
        width: 100%;
        top: 43%;
        left: 0;
        transform: rotate(-45deg) translate(0%,0%);
      }
    }
  }

  &.dark-blue {
    span {
      background: $darkBlue;
    }
  }

  &.red-pink {
    span {
      background: $redPink;
    }
  }

  &.light-blue {
    span {
      background: $lightBlue;
    }
  }

  &.white {
    span {
      background: $white;
    }
  }
}