/*
 * ------------------------------------------------
 *
 * Header Styling
 *
 * ------------------------------------------------
 */

@import 'variables.scss';
@import 'mixins.scss';

header#header {
  width: 100%;
  min-height: 140px;
  z-index: $mainNavZIndex;
  display: block;
  position: fixed;
  left: 0;
  background: transparent;
  transition: .5s ease-in-out;
  opacity: 1;

  @include breakpoint (sm) {
    min-height: 120px;
  }

  #main_nav_container {
    width: 60%;
    height: 100vh;
    display: block;
    position: fixed;
    top: 50%;
    right: -100%;
    transform: translateY(-50%);
    background: $redPink;
    transition: 0.2s ease-in;

    @include breakpoint (md) {
      width: 80%;
    }

    @include breakpoint (sm) {
      width: 100%;
    }

    &.open {
      right: 0;
    }

    &.transition {
      width: 100%;
      transition: 0.5s ease-in;
    }

    nav {
      width: 100%;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      a {
        width: 100%;
        display: block;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        padding: 15px 40px;
        font-size: 30px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.2s ease-in;
        outline: none;

        @include breakpoint (sm) {
          font-size: 25px;
        }

        &.fade {
          height: 0;
          font-size: 0;
          opacity: 0;
          pointer-events: none;
        }

        &.main {
          font-size: 40px;

          @include breakpoint (sm) {
            font-size: 30px;
          }

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }

  #hamburger_icon {
    width: 25px;
    height: 20px;
    display: block;
    position: fixed;
    top: 60px;
    right: 60px;
    transition: .5s ease-in-out;
    cursor: pointer;
    opacity: 1;

    @include breakpoint (sm) {
      top: 40px;
      right: 40px;
    }

    &.invisible {
      opacity: 0;
      pointer-events: none;
    }

    span {
      display: block;
      position: absolute;
      height: 3px;
      width: 100%;
      background: $darkBlue;
      opacity: 1;
      left: 0;
      transform-origin: center;
      transform: rotate(0deg);
      transition: .25s ease-in-out;

      &:nth-child(1) {
        top: 0;
        left: 50%;
        transform: rotate(0deg) translate(-50%, 0%);
      }

      &:nth-child(2) {
        top: 50%;
        left: 50%;
        transform: rotate(0deg) translate(-50%, -50%);
      }

      &:nth-child(3) {
        top: 100%;
        left: 50%;
        transform: rotate(0deg) translate(-50%, -100%);
      }
    }

    &.open {
      span {
        &:nth-child(1) {
          width: 100%;
          top: 43%;
          left: 0;
          transform: rotate(45deg) translate(0%, 0%);
        }

        &:nth-child(2){
          width: 0;
        }

        &:nth-child(3) {
          width: 100%;
          top: 43%;
          left: 0;
          transform: rotate(-45deg) translate(0%,0%);
        }
      }
    }
  }

  #email_icon {
    width: 25px;
    height: 20px;
    display: block;
    position: absolute;
    top: 60px;
    right: 120px;
    cursor: pointer;

    @include breakpoint (sm) {
      top: 40px;
      right: 100px;
    }

    span {
      display: block;
      position: absolute;
      transform-origin: center;
      transform: rotate(0deg);
      transition: .25s ease-in-out;
      opacity: 1;
      background: $darkBlue;

      &.top_line {
        width: 100%;
        height: 3px;
        top: 0;
        left: 0;
      }

      &.bottom_line {
        width: 100%;
        height: 3px;
        bottom: 0;
        left: 0;
      }

      &.left_line {
        width: 3px;
        height: 100%;
        top: 0;
        left: 0;
      }

      &.right_line {
        width: 3px;
        height: 100%;
        top: 0;
        right: 0;
      }

      &.left_env_line {
        width: 65%;
        height: 3px;
        top: 35%;
        left: -5%;
        transform: rotate(45deg)
      }

      &.right_env_line {
        width: 65%;
        height: 3px;
        top: 35%;
        right: -5%;
        transform: rotate(-45deg)
      }
    }

    &.open {
      span {
        &.top_line {
          opacity: 0;
        }

        &.left_line {
          opacity: 0;
        }

        &.right_line {
          opacity: 0;
        }

        &.left_env_line,
        &.right_env_line {
          top: 80%
        }

        &.bottom_line {
          width: 100%;
          top: 40%;
          left: 0;
          transform: rotate(90deg);
        }
      }
    }
  }

  #hamburger_icon,
  #email_icon {
    &.dark_blue {
      span {
        background: $darkBlue;
      }
    }
  }

  #hamburger_icon,
  #email_icon {
    &.red_pink {
      span {
        background: $redPink;
      }
    }
  }

  #hamburger_icon,
  #email_icon {
    &.light_blue {
      span {
        background: $lightBlue;
      }
    }
  }

  #hamburger_icon,
  #email_icon {
    &.white {
      span {
        background: $white;
      }
    }
  }
}