/*
 * ------------------------------------------------
 *
 * Image Styling
 *
 * ------------------------------------------------
 */

@import 'variables.scss';
@import 'mixins.scss';

.image_container {
  width: 100%;
  max-width: 70%;
  height: auto;
  display: block;
  position: relative;
  border-style: solid;
  border-width: 2px;
  padding-top: 100%;

  &.rectangle {
    max-width: 70%;
    max-height: 600px;
    padding-top: 80%;
  }

  &.square {
    max-width: 70%;
    max-height: 800px;
    padding-top: 100%
  }

  .background_image {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}