/*
 * ------------------------------------------------
 *
 * Layout Styling
 *
 * ------------------------------------------------
 */

@import 'variables.scss';
@import 'mixins.scss';

.clearfix {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

.hidden {
  display: none !important;
}

.white_background {background-color: $white;}
.red_pink_background {background-color: $redPink;}
.dark_blue_background {background-color: $darkBlue;}
.light_blue_background {background-color: $lightBlue;}

.white_border {border-color: $white;}
.red_pink_border {border-color: $redPink;}
.dark_blue_border {border-color: $darkBlue;}
.light_blue_border {border-color: $lightBlue;}

#wrapper {
  width: 100%;
  min-height: 100vh;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

section {
  width: 100%;
  min-height: 100vh;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 140px 60px 100px;

  @include breakpoint (sm) {
    padding: 120px 40px 100px;
  }
}

.container {
  width: 100%;
  display: block;
  position: relative;
}

.half_section {
  width: 50%;
  display: block;
  position: relative;
  float: left;

  &.left_section {
    float: left;
  }

  &.right_section {
    float: right;
  }

  &.no_float {
    float: unset;
  }
  
  &.mob_full_width {
    @include breakpoint (sm) {
      width: 100%;
      float: unset;
    }
  }
}

.central_float {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inner {
  width: 100%;
  display: block;
  position: relative;
  padding: 0 60px;

  @include breakpoint (sm) {
    padding: 0 40px;
  }
}

.flex {
  display: flex;

  &.central {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  &.space_between {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  &.vertical_stretch {
    justify-content: stretch;
  }

  &.mob_no_flex {
    @include breakpoint (sm) {
      display: block;
      flex-direction: unset;
      justify-content: unset;
      align-items: unset;
      align-content: unset;
    }
  }
}

.block {
  width: 100%;
  display: block;
  position: relative;
}

.title {
  width: 100%;
  display: block;
  position: relative;
  margin-bottom: 40px;
}

p,
.text {
  margin-bottom: 15px;
}

.line_spacer {
  width: 100%;
  display: block;
  position: relative;
  margin: 30px auto;
  border-width: 2px 0 0 0;
  border-style: solid;

  &.white_spacer {
    border-color:  $white;
  }

  &.red_pink_spacer {
    border-color: $redPink;
  }

  &.dark_blue_spacer {
    border-color: $darkBlue;
  }

  &.light_blue_spacer {
    border-color: $lightBlue;
  }
}