/*
 * ------------------------------------------------
 *
 * Typography Styling
 *
 * ------------------------------------------------
 */

@import 'variables.scss';
@import 'mixins.scss';

.title,
.sub_title {
  font-family: $ubuntu;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
}

::selection {
  color: $white;
  background: $redPink;
}

p,
.text {
  font-family: $raleway;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
}

a,
a:active,
a:visited {
  color: $white;
  font-style: normal;
  text-decoration: none;
  transition: 0.2s ease-in;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateX(0);

  &:hover {
    opacity: 0.6;
  }
}

ul {
  list-style: none inside none;
}

.far,
.fas {
  color: $white;
}

.white_text {color: $white;}
.red_pink_text {color: $redPink;}
.dark_blue_text {color: $darkBlue;}
.light_blue_text {color: $lightBlue;}

.extra_large_text {font-size: 40px;}
.large_text {font-size: 30px;}
.medium_text {font-size: 18px;}
.small_text {font-size: 16px;}

.text_left {text-align: left;}
.text_center {text-align: center;}
.text_right {text-align: right;}

.mob_text_left {
  @include breakpoint (sm) {
    text-align: left;
  }
}
.mob_text_center {
  @include breakpoint (sm) {
    text-align: center;
  }
}

.mob_text_right {
  @include breakpoint (sm) {
    text-align: right;
  }
}