/*
 * ------------------------------------------------
 *
 * Variables
 *
 * ------------------------------------------------
 */

/*
 * Page Breakpoints
 */

$small: 768px;
$medium: 1024px;
$large: 1600px;
$extraLarge: 1920px;

/*
 * Color Variables
 */

$darkBlue: #020623;
$lightBlue: #818de3;
$redPink: #ff224b;
$white: #fff;

/*
 * Base Variables
 */

$baseFontSize: 16px;

/*
 * Fonts
 */

$raleway: 'Raleway', Helvetica, sans-serif;
$ubuntu: 'Ubuntu', Calibri, sans-serif;

/*
 * Layering
 */

$mainNavZIndex: 1000;