/*
 * ------------------------------------------------
 *
 * Variables
 *
 * ------------------------------------------------
 */

/*
 * Page Breakpoints
 */

$small: 768px;
$medium: 1024px;
$large: 1600px;
$extraLarge: 1920px;

/**
 * Base Variables
 */

$baseFontSize: 16px;