/*
 * ------------------------------------------------
 *
 * About Page Styling
 *
 * ------------------------------------------------
 */

@import '../components/variables.scss';
@import '../components/mixins.scss';

section#about-page {
  .half_section {
    &:nth-of-type(1) {
      .inner {
        padding-left: 0;
      }
    }

    &:nth-of-type(2) {
      .inner {
        padding-right: 0;
      }
    }

    &.right_section {
      padding-top: 92px;

      .inner {

        .image_container {
          &:nth-of-type(2) {
            margin-top: -20%;
            margin-left: 20%;
          }

          &.rectangle {
            max-width: 400px;
            max-height: 320px;
          }

          &.square {
            max-width: 400px;
          }
        }
      }
    }
  }
}