/*
 * ------------------------------------------------
 *
 * Homepage Styling
 *
 * ------------------------------------------------
 */

@import '../components/variables.scss';
@import '../components/mixins.scss';

section#home-page {
  position: fixed;

  .central_float {
    width: 100%;

    h1 {
      margin-bottom: 0;
      font-size: 50px;
      text-transform: uppercase;
      text-align: center;

      @include breakpoint (sm) {
        font-size: 40px;
      }
    }

    h2 {
      font-size: 40px;
      text-transform: uppercase;
      text-align: center;

      @include breakpoint (sm) {
        font-size: 30px;
      }
    }
  }
}